apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: http://{{ kube_master }}:8080
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context